<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="{{ url_for('static', filename='Botao_cadastro.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='layout_lista_fornecedor.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:600">

    <!-- Estilos adicionados para o modal -->
    <style>
        .modal {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 60%;
            max-width: 600px;
            background-color: #fefefe;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            z-index: 9999;
        }

        .modal-content {
            text-align: left;
        }

    </style>
</head>

<body>
    <!-- Menu Navigation Bar -->
    <div class="menu-with-background">
        <div class="menu">
            <a href="/">Home</a>
            <a href="/listafornecedor">Lista de Fornecedor</a>
            <a href="kanban">Cotações</a>
            <a href="pedido">Pedido</a>
        </div>
        <div class="neon supply-chain">Supply Chain</div>
        <div class="neon fornecedores">Gestão de Fornecedores</div>
    </div>

    <!-- Adicione o campo de pesquisa -->
<form action="/pesquisar" method="GET" style="display: flex; align-items: center; margin-left: 2%">
    <label for="filtro">Filtrar por:</label>
    <select name="filtro" style="margin-right: 10px;">
        <option value="fornecedor">Fornecedor</option>
        <option value="cnpj">CNPJ</option>
        <option value="local">Local</option>
        <option value="Forma_pagamento">Forma de pagamento</option>
        <!-- Adicione outras opções para colunas que deseja permitir a pesquisa -->
    </select>
    <input type="text" name="termo" placeholder="Digite sua pesquisa" style="margin-right: 10px;">
    <button type="submit" class="meu-botao2">Pesquisar</button>
</form>

    </form>

    <div class="table-container">
        <div>
            <button onclick="openCadastroModal()" class="meu-botao">Cadastro de Fornecedor</button>
            <button onclick="openExcluirModal()" class="meu-botao">Excluir de Fornecedor</button>
        </div>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Fornecedor</th>
                    <th>CNPJ</th>
                    <th>Telefone</th>
                    <th>Responsável</th>
                    <th>Local</th>
                    <th>CEP</th>
                    <th>Ramo</th>
                    <th>Forma de pagamento</th>
                </tr>
            </thead>
            <tbody>
                {% for item in data_list %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ item.get('fornecedor', '') }}</td>
                        <td>{{ item.get('cnpj', '') }}</td>
                        <td>{{ item.get('telefone', '') }}</td>
                        <td>{{ item.get('responsavel', '') }}</td>
                        <td>{{ item.get('local', '') }}</td>
                        <td>{{ item.get('cep', '') }}</td>
                        <td>{{ item.get('Ramo', '') }}</td>
                        <td>{{ item.get('Forma_pagamento', '') }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Modal de Cadastro -->
    <div id="cadastroModal" class="modal">
        <div class="modal-content">
            <form action="/adicionar_fornecedor" method="post">
                Fornecedor: <input type="text" name="fornecedor" required><br>
                CNPJ: <input type="text" name="cnpj" required><br>
                Telefone: <input type="text" name="telefone" required><br>
                Responsavel: <input type="text" name="responsavel" required><br>
                Local: <input type="text" name="local" required><br>
                CEP: <input type="text" name="cep" required><br>
                Ramo: <input type="text" name="ramo" required><br>
                Forma de Pagamento: <input type="text" name="forma_pagamento" required><br>
                <button onclick="openCadastroModal()" class="meu-botao">Adicionar</button>

            </form>
            <button onclick="closeCadastroModal()" >Fechar</button>
        </div>
    </div>

    <!-- Modal de Exclusão -->
    <div id="excluirModal" class="modal">
        <div class="modal-content">
            <form action="/excluir" method="post">
                {% if dados %}
                    {% for key, value in dados.items() %}
                        {{ key }}: {{ value }}<br>
                    {% endfor %}
                    <input type="hidden" name="Fornecedor" value="{{ dados.Fornecedor }}">

                {% else %}
                    <label for="Fornecedor">Fornecedor:</label>
                    <input type="text" id="Fornecedor" name="Fornecedor" required><br>
                {% endif %}
                <button type="submit" class="meu-botao" value="Excluir">Excluir</button>

            </form>
            <button onclick="closeExcluirModal()">Fechar</button>
        </div>
    </div>

    <!-- Adicione o seu JavaScript para abrir/fechar os modais aqui -->
    <script>
        function openCadastroModal() {
            document.getElementById('cadastroModal').style.display = 'block';
        }

        function closeCadastroModal() {
            document.getElementById('cadastroModal').style.display = 'none';
        }

        function openExcluirModal() {
            document.getElementById('excluirModal').style.display = 'block';
        }

        function closeExcluirModal() {
            document.getElementById('excluirModal').style.display = 'none';
        }
    </script>

</body>

</html>


